.main
{
  margin: 0 auto;
  max-width: 1440px; 
}
.intro 
{
  display: flex;
  gap: 20px; 
  border-radius: 20px;
  background-color: rgb(240, 176, 87); 
  box-shadow: 1px 2px 20px 5px #d7d7d7;
  padding: 15px;
}
.intro__img
{
  width: 600px;
  height: 400px;
  align-self: center;
  flex-shrink: 0;
}
.intro__desc
{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.intro__link
{
  display: block;
  border-radius: 10px;
  padding: 10px;
  color: rgb(240, 176, 87);
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  margin-top: auto;
  margin-right: auto;
  transition: 0,3s;
}
.intro__link:hover 
{
  transform: scale(1.03);
}
.courses__list
{
  margin: 0;
  padding: 20px 0;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  list-style-type: none;
}
.courses__card
{
  transition: 0,3s;
  width: 350px;
  padding: 15px;
  border-radius: 15px;
  background-color:bisque;
  color: black;
  box-shadow: 1px 2px 20px 5px #d7d7d7;
  display: flex;
  flex-direction: column;
}
.courses__card:hover 
{
  transform: scale(1.03);
}
 
.courses__name
{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.courses__date
{
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 14px;
  font-style: italic;
}
.courses__price
{
  margin-top: 0;
  margin-bottom: 15px;
}
.courses__link
{
  display: block;
  padding: 10px;
  border-radius: 10px;
  background-color:#f3a3f3;
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-align: center;
  margin-top: auto;
  transform: 0,3;
} 
.courses__img
{  
  width: 300px;
  height: 300px;
  background-color: transparent;
}

.reviews__list
{
  margin: 0;
  padding: 20px 0;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  list-style-type: none;
}
.reviews__element
{
  width: 350px;
  padding: 15px;
  border-radius: 15px;
  background-color:#f3a3f3;
  color: black;
  box-shadow: 1px 2px 20px 5px #d7d7d7;
  display: flex;
  flex-direction: column; 
  list-style-type: none; 
}
.reviews__element:hover 
{
  transform: scale(1.03);
}
.reviews__userlink
{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}