button {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #000000;
    
    border: 1px solid #ae6aae;
    border-radius: 10px;
    background-color: #f3a3f3;
    
    cursor: pointer;
}
button:hover 
{
    color: #ffffff;
    background-color: #693869;
}

.sign-in__button--accent {
    color: #000000;
    background-color: #ae6aae;
}


.sign-in {
    font-size: 16px;
    background-color: transparent;
    border: 2px solid rgba(145, 150, 161, 0.4);
    border-radius: 10px;
}